* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; font-family: "Roboto", "Arial", sans-serif; font-size: 14px; background-color: white; }
.logo { width: 100%; max-width: 180px; margin: 0 auto 2rem; background-size: contain; display: block; }
.navbar { width: 100%; background-color: #F44336; color: white; padding: 0 0.7rem; text-align: center; font-size: 1.4rem; position: fixed; height: 3rem; line-height: 3rem; z-index: 999; }
.content { padding: 1.5rem 1rem 1rem; }
.infopane { padding: 1.4rem; box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); text-align: center; margin: 0 auto; max-width: 36rem; border-radius: 5px; }
.infopane.error { background-color: #EF5350; color: white; }
input { font-family: "Roboto", "Arial", sans-serif; margin-top: 0.5rem; padding: 0.8rem; font-size: 1rem; width: 100%; outline: none; border: 1px solid #E0E0E0; transition: all 0.2s; }
input:focus { border: 1px solid #757575; }
button { margin-top: 0.8rem; border: 0; background-color: #42A5F5; color: white; font-size: 1rem; padding: 0.6rem 1.3rem; border-radius: 8px; transition: all 0.2s; cursor: pointer; outline: 0; }
button:hover { background-color: #1565C0; }
#location-list { max-width: 50rem; width: 100%; margin: 0 auto; }
.location-title { color: #F44336; font-size: 1.8rem; font-weight: bold; text-align: center; margin: 2.5rem 0 1.8rem; }
.location { box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); position: relative; margin-bottom: 2.5rem; }
.location-image { padding-bottom: 56.25%; background-size: cover; }
.location-name { position: absolute; color: white; top: 0; margin: 1.3rem; font-size: 1.6rem; font-weight: bold; text-shadow: 0 0 8px black, 0 0 8px black; }
.location-details { display: flex; align-items: center; padding: 1rem; }
.location-day { flex: auto 0 0; padding: 0.3rem 0.8rem 0.3rem 0; border-right: 1px solid #9E9E9E; margin-right: 0.8rem; font-size: 1.1rem; color: #9E9E9E; }
.location-price { text-align: right; font-size: 1.2rem; font-weight: bold; flex: auto 1 1; }
.location button { width: 100%; padding: 0.8rem; text-align: center; margin: 0; border-radius: 0; }
.location button.booked { background-color: #8BC34A; cursor: not-allowed; }
